<div class="panel panel-default">
  <div class="panel-heading reply-heading">
    <%= link_to reply.user do %>
      <img src=<%= reply.user.image %> class = "icon_mini_image">
      <h3><%= reply.user.name %></h3>
    <% end %>
  </div>
  <div class="panel-body panel_micropost">
    <h4><%= reply.content %></h4>
    <% if reply.user == current_user %>
     <%= link_to "削除する", reply, method: :delete, data: {confirm:"本当に削除しますか？"} %>
    <% end %>
  </div>
</div>
