<%= link_to user_path(@user) do %>
  <img src=<%= @user.image %> class = "icon_image">
<% end %>
<% if user_signed_in? %>
  <div class="follow_btn">
    <%= render 'follow_btn'%>
  </div>
<% end %>
<div class="stats">
  <%= link_to followers_user_path(@user) do %>
    <button class="btn btn-info" type="button">
    フォロワー <span class="badge" id="followers"><%= @user.followers.count %></span>
    </button>
  <% end %>
  <%= link_to following_user_path(@user) do %>
    <button class="btn btn-info" type="button">
    フォロー <span class="badge" id="following" ><%= @user.following.count %></span>
    </button>
  <% end %>
</div>
<h3><名前> <br>
<%= @user.name %></h3>
<h3><プロフィール> </h3>
<p><%= @user.profile %></p>
<% if @user == current_user %>
  <div class="new-post-btn">
    <%= link_to new_micropost_path do %>
      <p><button type="button" class="btn btn-success">動画を投稿する</button></p>
    <% end %>
  </div>
  <%= link_to "プロフィール編集", edit_user_registration_path(current_user.id) %>
<% end %>
