<div clas="row">
  <div class="col-md-3 col-sm-4 col-xs-12 sideBar user-side">
    <img src=<%= @user.image %> class = "icon_image">
    <% unless current_user == @user && user_signed_in? %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
      </div>
    <% end %>
    <div class="stats">
      <p><%= "#{@user.followers.count}フォロワー | #{@user.following.count}フォロー " %></p>
    </div>
    <h3><名前> <br>
    <%= @user.name %></h3>
    <h3><プロフィール> </h3>
    <p><%= @user.profile %></p>
    <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_registration_path(current_user.id) %>
    <% end %>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <%= render @microposts %>
    <%= paginate @microposts %>
  </div>
</div>
