<%= form_for(@micropost) do |f| %>

<div class="form-group">
  <%= f.label :title, "タイトル" %><br />
  <%= f.text_field :title, autofocus: true, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :url, "youtubeのURL" %>
  <%= f.text_field :url, autofocus: true, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :content, "説明" %>
  <%= f.text_field :content, autofocus: true, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.submit "編集する", class: 'btn btn-primary' %>
</div>

<% end %>
