<div class="panel panel-default">
  <div class="panel-heading reply-heading">
    <img src=<%= @user.image %> class = "icon_mini_image">
    <h3><%= @user.name %></h3>
    <button type="button" class="btn btn-default btn-lg">
      <span class="far fa-star"></span> <%= average_score(@micropost) %>
    </button>
    <% if @micropost.subcategory %>
      <button type="button" class="btn btn-default btn-lg">
        <span></span> <%= "#{@micropost.subcategory.category.name}|#{@micropost.subcategory.name}" %>
      </button>
    <% end %>
  </div>
  <div class="panel-body panel_micropost">
    <h1><%= @micropost.title %></h1>
    <hr>
    <p>
      <iframe width="448" height="252" src="https://www.youtube.com/embed/<%= @micropost.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <h4><%= @micropost.content %></h4>
    <hr>
    <% if Score.where(user_id: current_user.id, micropost_id: @micropost.id).blank? %>
      <%= form_for(@score) do |f| %>
        <div class="form-group">
          <%= f.label :point, "point" %>
          <%= f.select :point, (1..5).to_a.map{|i| ["#{i}",i]} %>
        </div>
        <%= hidden_field_tag :micropost_id, @micropost.id %>
        <div class="form-group">
          <%= f.submit "採点する", class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render @replies %>
