<div class="panel panel-default panel-mic-show">
  <div class="panel-heading reply-heading">
    <img src=<%= @user.image %> class = "icon_mini_image">
    <h3><%= @user.name %></h3>
    <button type="button" class="btn btn-default btn-lg">
      <span class="far fa-star"></span> <%= average_score(@micropost) %>
    </button>
    <% if @micropost.subcategory %>
      <button type="button" class="btn btn-default btn-lg">
        <span></span> <%= "#{@micropost.subcategory.category.name}|#{@micropost.subcategory.name}" %>
      </button>
    <% end %>
  </div>
  <div class="panel-body panel_micropost">
    <h1><%= @micropost.title %></h1>
    <hr>
    <p>
      <iframe width="448" height="252" src="https://www.youtube.com/embed/<%= @micropost.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <h4><%= @micropost.content %></h4>
    <% if @micropost.user == current_user %>
      <h5>
        <%= link_to "編集する", edit_micropost_path(@micropost) %> |
        <%= link_to "削除する", @micropost, method: :delete, data: {confirm:"本当に削除しますか？"} %>
      </h5>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-xs-8">
        <%= form_for(@reply) do |f| %>
          <div class="form-group">
            <%= f.text_field :content, autofocus: true, class: "form-control" %>
          </div>
          <%= hidden_field_tag :micropost_id, @micropost.id %>
          <div class="form-group">
            <%= f.submit "返信する", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-4">
        <% if Score.where(user_id: current_user.id, micropost_id: @micropost.id).blank? %>
          <%= form_for(@score) do |f| %>
            <div class="form-group">
              <%= f.label :point, "point" %>
              <%= f.select :point, (1..5).to_a.map{|i| ["#{i}",i]} %>
            </div>
            <%= hidden_field_tag :micropost_id, @micropost.id %>
            <div class="form-group">
              <%= f.submit "採点する", class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% else %>
         <h4>採点済み</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <%= render @replies %>
  </div>
</div>
