<li>
<% if info.micropost_id.nil? %>
  <h3>
    <img src=<%= info.action_user.image %> class = "icon_mini_image">
    <%= link_to info.action_user.name, info.action_user %>
    があなたをフォローしました
  </h3>
<% else %>
  <h3>
    <img src=<%= info.action_user.image %> class = "icon_mini_image">
    <%= link_to info.action_user.name, info.action_user %>
    があなたの
    <%= link_to "投稿", Micropost.find(info.micropost_id) %>
    にコメントしました
  </h3>
<% end %>
<hr>
</li>
